header {
    margin-bottom: 30px ;
  
    display: flex ;
    flex-flow: row wrap;
  }
  
  .title {
    flex: 1 ;
  }
  
  header nav ul {
    position: relative ;
    top: 30% ; 
  
    display: flex ;
    flex-direction: row ;
  }
  
  main {
    display: grid ;
    grid-template-areas: "article aside" ;
  }
  
  .sidebar {
    grid-area: aside ;
  }
  
  article {
    grid-area: article ;
  }
  
  .cards {
    display: flex ;
    flex-flow: row wrap;
  }